IMS/App_Code/*.*
IMS/App_Data/*.*
IMS/App_Themes/*.*
IMS/assets/*.*
IMS/css_cp/*.*
IMS/DBoardCSS/*.*
IMS/Export/*.*
IMS/fonts/*.*
IMS/HTML/*.*
IMS/JDash/*.*
IMS/img_cp/*.*
IMS/js2/*.*
IMS/kickstart/*.*
IMS/obj/*.*
IMS/packages/*.*
IMS/Properties/*.*
IMS/Scripts/*.*
IMS/SqlServerTypes/*.*
IMS/Styles/*.*
IMS/Test1/*.*
IMS/*.html
